.sidebar {
  min-height: 100vh !important ;
  border-radius: 5px;
  background-color: #076063;
  box-shadow: 0 0 2px gray;
  color: white;
}
.dash-container{
    background-color: #ffdee9;
    background-image: linear-gradient(0deg, #f4f8fac7 0%, #dbdbdfe7 100%);
}
.logo h6 {
  font-size: 1.5rem;
  text-align: center;
  margin: 20px 0px;
}

.menu-item {
  margin-top: 30px;
}

.menu-item a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.menu-item i {
  font-size: 1.2rem;
  margin: 0 15px;
  color: white;
}

.active {
  background-color: white;
  padding: 10px;
}

.active a,
.active i {
  color: #07002e;
}
